<%- include('./partials/header') %>
<div class="flex-center">
  <div>
    <p>Welcome to <%= title %></p>
    <a href="/skills">Explore my skills</a>
  </div>  
</div>

    
<%- include('./partials/footer') %>
