<%- include('./partials/header') %>
<div class="flex-center">
  <div class="hero">
    <p>Welcome to <%= title %>!</p>
    <a href="/skills" class="a-button hero">Explore my skills</a>
  </div>
</div>

<%- include('./partials/footer') %>
